/***************STYLE BOOTSTRAP***************/
.bg-dark{
    background-color: #101010 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
    font-size: 14px;
}
.container-slide,
.carousel{
    max-width: 1000px;
    padding: 25px 15px;
}
.card{
    border: none;
}
.form-group input{
    width: 400px;
    background-color: #F5F5F5;
}
.form-group textarea{
    background-color: #F5F5F5;
}
/******************MY STYLE******************/
footer p{
    font-size: 13px;
    color: #9E9E9E;
    padding: 4px 0;
}
footer a{
    padding: 10px 0;
    font-size: 13px;
    color: #9E9E9E;
}
a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
footer h5{
    color: #9E9E9E;
    font-size: 13px;
}

@media (max-width:995px){
    .card{
        margin-bottom: 20px;
    }
}
@media (max-width:768px){
    .navbar-dark .navbar-brand{
        padding: 20px 10px;
    }
    .col-sm-12 p{
        padding: 15px 0 !important;
        text-align: justify;
    }
    .card{
        width: 24rem !important;
        margin-bottom: 30px;
    }
}
@media (max-width:420px){
    .container-slide,
    .carousel{
        width: 380px !important;
        padding: 25px 10px 10px 5px;
    
    }
    .card{
        width: 24rem !important;
        margin-bottom: 30px;
    }
    .col-sm-12 p{
        padding: 10px 5px !important;
        text-align: justify;
    }
    .navbar-dark .navbar-brand{
        padding: 20px 10px;
    }
    .form-group input{
        width: 350px;
    }
}